.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 15px;
    color: black;
}

body
{
    background-size: 250px;
}

.div_speed
{
    float: left;
}

.div_speed_img
{
    width: 200px;
    border-radius: 100px;
}

#speed
{
    font-size: 23px;
    margin: 15px;
}

.div_sound
{
    float: right;
}

.div_song_img
{
    width: 200px;
    border-radius: 100px;
}

#song
{
    font-size: 23px;
    margin: 15px;
}